/* ==UserStyle==
@name        devdocs.io
@match       https://devdocs.io/*
@match       https://*.devdocs.io/*
==/UserStyle== */
@media all {
  :root {
    --iy-code-font: "Cartograph CF", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "Sarasa UI SC", "MiSans VF", monospace,
      "Symbols Nerd Font Mono";
  }
}

:root {
  --monoFont: var(--iy-code-font);
}

._content {
  font-size: 1rem;
}

/* code and pre both shrink to .9em, compounding inside pre */
pre code {
  font-size: inherit;
}
