/* ==UserStyle==
@name        devdocs.io
@match       https://devdocs.io/*
@match       https://*.devdocs.io/*
==/UserStyle== */
@media all {
  :root {
    --iy-mono-font: "Cartograph CF", "Cascadia Code", SFMono-Regular, Menlo,
      Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans CJK SC",
      monospace, "Symbols Nerd Font Mono";
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

:root {
  --monoFont: var(--iy-mono-font);
}
