/* ==UserStyle==
@name        discord.com
@match       https://discord.com/*
@match       https://*.discord.com/*
==/UserStyle== */
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", "Noto Serif SC", serif;
    --iy-mono-font: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "MiSans VF", monospace,
      "Symbols Nerd Font Mono";
    --iy-code-font: "Cartograph CF", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "MiSans VF", monospace,
      "Symbols Nerd Font Mono";
  }

  pre,
  pre code {
    font-family: var(--iy-code-font);
  }
}

:root {
  --font-headline: var(--iy-serif-font);
  --font-code: var(--iy-mono-font);
}
