/* ==UserStyle==
@name        discord.com
@match       https://discord.com/*
@match       https://*.discord.com/*
==/UserStyle== */
@media all {
  :root {
    --iy-sans-font: "Greycliff CF", "Poppins", system-ui, BlinkMacSystemFont,
      "Segoe UI", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC",
      "LXGW WenKai", sans-serif;
    --iy-serif-font: "Artifex CF", "Roboto Slab", "FZQingKeBenYueSongS-R-GB",
      Georgia, Cambria, "Times New Roman", Times, "LXGW WenKai",
      "Noto Serif CJK SC", serif;
    --iy-mono-font: "Cartograph CF", "Cascadia Code", "LXGW WenKai",
      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      "Noto Sans CJK SC", monospace;
    --iy-deco-font: "Artifex Hand CF", "Lato", "LXGW WenKai", system-ui,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", "Noto Sans CJK SC", sans-serif;
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

:root {
  --font-primary: var(--iy-sans-font);
  --font-display: var(--iy-deco-font);
  --font-headline: var(--iy-serif-font);
  --font-code: var(--iy-mono-font);
}

body {
  font-family: var(--font-primary);
}
