/* ==UserStyle==
@name        github.com
@match       https://github.com/*
@match       https://*.github.com/*
==/UserStyle== */
@media all {
  :root {
    --iy-mono-font: "Cartograph CF", "Cascadia Code", "LXGW WenKai",
      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      "Noto Sans CJK SC", monospace, "Symbols Nerd Font Mono";
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

/* set monospace font */
code,
kbd,
pre,
tt,
.text-mono,
.react-code-text,
.react-blob-print-hide,
.cm-content,
.blob-code-inner {
  font-family: var(--iy-mono-font);
}
