/* ==UserStyle==
@name        pinboard.in
@match       https://pinboard.in/*
@match       https://*.pinboard.in/*
==/UserStyle== */
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", serif;
    --iy-mono-font: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "Noto Sans CJK SC", monospace,
      "Symbols Nerd Font Mono";
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

.private {
  background: #f0f0f0;
  border-color: #eee;
}

.description {
  padding-left: 8px;
  border-left: 2px solid #ccc;
}

a.bookmark_title {
  font-family: var(--iy-serif-font);
}

a.tag {
  font-family: var(--iy-mono-font);
  font-style: italic;
}
