/* ==UserStyle==
@name        pinboard.in
@match       https://pinboard.in/*
@match       https://*.pinboard.in/*
==/UserStyle== */
@media all {
  :root {
    --iy-ui-font: system-ui, BlinkMacSystemFont, "Lato", Inter, "Segoe UI",
      "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", sans-serif;
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "LXGW WenKai", "Noto Sans CJK SC", sans-serif;
  }
}

.private {
  background: #f0f0f0;
  border-color: #eee;
}

.description {
  font-family: var(--iy-atki-font);
  padding-left: 8px;
  border-left: 2px solid #ccc;
}

a.bookmark_title {
  font-family: var(--iy-ui-font);
}
