/* ==UserStyle==
@name        pinboard.in
@match       https://pinboard.in/*
@match       https://*.pinboard.in/*
==/UserStyle== */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@media all {
  :root {
    --iy-sans-font: "Greycliff CF", Inter, system-ui, BlinkMacSystemFont,
      "Segoe UI", "Helvetica Neue", "MiSans VF", sans-serif;
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "LXGW WenKai",
      "MiSans VF", sans-serif;
  }
}

body {
  font-size: 16px;
}

.private {
  background: #f0f0f0;
  border-color: #eee;
}

.description {
  font-family: var(--iy-atki-font);
  font-size: 16px;
  line-height: 1.5;
  margin: 0.5em 0;
}

a.bookmark_title {
  font-family: var(--iy-sans-font);
  font-size: 17px;
}

@media (min-width: 640px) {
  .star {
    margin-left: -24px;
  }
}
