/* ==UserStyle==
@name        readwise.io
@match       https://readwise.io/*
@match       https://*.readwise.io/*
==/UserStyle== */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@media all {
  :root {
    --iy-sans-font: "Greycliff CF", Inter, system-ui, BlinkMacSystemFont,
      "Segoe UI", "Helvetica Neue", "Sarasa UI SC", "MiSans VF", sans-serif;
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", "Noto Serif SC", serif;
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "LXGW WenKai",
      "Sarasa UI SC", "MiSans VF", sans-serif;
    --iy-code-font: "Cartograph CF", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "Sarasa UI SC", "MiSans VF", monospace,
      "Symbols Nerd Font Mono";
  }

  pre,
  pre code {
    font-family: var(--iy-code-font);
  }
}

.highlight-text {
  line-height: 1.5;
  font-family: var(--iy-atki-font);
}

h1.list-book-title {
  font-family: var(--iy-serif-font);
}

h1.list-book-author.mb-1 {
  font-family: var(--iy-sans-font);
}
