/* ==UserStyle==
@name        read.readwise.io
@match       https://read.readwise.io/*
@match       https://*.read.readwise.io/*
==/UserStyle== */
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", serif;
    --iy-mono-font: "Cartograph CF", "Cascadia Code", SFMono-Regular, Menlo,
      Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans CJK SC",
      monospace, "Symbols Nerd Font Mono";
    --iy-read-font: "Atkinson Hyperlegible", Inter, "LXGW WenKai", system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "Noto Sans CJK SC", sans-serif;
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

pre {
  white-space: pre-wrap;
}

pre a {
  color: aquamarine;
}

:root {
  --reading-font-title: var(--iy-serif-font);
  --reading-font-body: var(--reading-editable-font-family), var(--iy-read-font);
}

#document-header h1 {
  font-family: var(--iy-serif-font);
  font-weight: 800;
}
