/* ==UserStyle==
@name        readwise.io
@match       https://readwise.io/*
@match       https://*.readwise.io/*
==/UserStyle== */
@media all {
  :root {
    --iy-serif-font: "Artifex CF", "Roboto Slab", "FZQingKeBenYueSongS-R-GB",
      Georgia, Cambria, "Times New Roman", Times, "Noto Serif CJK SC", serif;
    --iy-mono-font: "Cartograph CF", "Cascadia Code", SFMono-Regular, Menlo,
      Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans CJK SC",
      monospace, "Symbols Nerd Font Mono";
    --iy-deco-font: "Artifex Hand CF", "Lato", "LXGW WenKai", system-ui,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", "Noto Sans CJK SC", sans-serif;
    --iy-read-font: "Greycliff CF", "Poppins", "LXGW WenKai", system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "Noto Sans CJK SC", sans-serif;
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

.highlight-text {
  line-height: 1.5;
  font-family: var(--iy-read-font);
}

h1.list-book-title {
  font-family: var(--iy-serif-font);
}

h1.list-book-author.mb-1 {
  font-family: var(--iy-deco-font);
}
