/* ==UserStyle==
@name        read.readwise.io
@match       https://read.readwise.io/*
@match       https://*.read.readwise.io/*
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", serif;
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "LXGW WenKai", "Noto Sans CJK SC", sans-serif;
    --iy-code-font: "Cartograph CF", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "Noto Sans Mono CJK SC",
      "Noto Sans CJK SC", monospace, "Symbols Nerd Font Mono";
  }

  pre,
  pre code {
    font-family: var(--iy-code-font);
  }
}

pre {
  white-space: pre-wrap;
}

pre a {
  color: aquamarine;
}

:root {
  --reading-font-title: var(--iy-serif-font);
  --reading-font-body: var(--reading-editable-font-family), var(--iy-atki-font);
}

#document-header h1 {
  font-family: var(--iy-serif-font);
  font-weight: 800;
}
