/* ==UserStyle==
@name        twitter.com
@match       https://twitter.com/*
@match       https://*.twitter.com/*
==/UserStyle== */
@media all {
  :root {
    --iy-mono-font: "Cartograph CF", "Cascadia Code", "LXGW WenKai",
      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono" "Courier New",
      "Noto Sans CJK SC", monospace;
    --iy-read-font: "Greycliff CF", "Poppins", "LXGW WenKai", system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "Noto Sans CJK SC", sans-serif;
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

[data-testid="sidebarColumn"],
[data-testid="SideNav_NewTweet_Button"],
nav[aria-label="Primary"] div[dir="auto"],
div[aria-label="Account menu"] {
  display: none;
}

header[role="banner"] {
  opacity: 0.2;
}

[data-testid="tweetText"] {
  font-family: var(--iy-read-font);
  font-size: 1.3rem;
  line-height: 1.95rem;
}
