/* ==UserStyle==
@name        wikipedia.org
@match       https://wikipedia.org/*
@match       https://*.wikipedia.org/*
==/UserStyle== */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", "Noto Serif SC", serif;
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "LXGW WenKai",
      "Sarasa UI SC", "MiSans VF", sans-serif;
  }
}

body {
  font-family: var(--iy-atki-font);
}

body,
.vector-body {
  font-size: 20px;
  line-height: 30px;
}

h1,
h2 {
  font-family: var(--iy-serif-font);
}
