/* ==UserStyle==
@name        www.notion.so
@match       https://www.notion.so/*
@match       https://*.www.notion.so/*
==/UserStyle== */
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", serif;
    --iy-mono-font: "Cartograph CF", "Cascadia Code", SFMono-Regular, Menlo,
      Monaco, Consolas, "Liberation Mono", "Courier New", "Noto Sans CJK SC",
      monospace, "Symbols Nerd Font Mono";
    --iy-deco-font: "Lato", "LXGW WenKai", system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      "Noto Sans CJK SC", sans-serif;
    --iy-read-font: "Atkinson Hyperlegible", Inter, "LXGW WenKai", system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "Noto Sans CJK SC", sans-serif;
  }

  pre,
  code {
    font-family: var(--iy-mono-font);
  }
}

body {
  font-family: var(--iy-read-font);
}

.notion-frame h1 {
  font-family: var(--iy-serif-font);
  font-weight: 700;
}

.notion-sidebar,
.notion-topbar {
  font-family: var(--iy-deco-font);
}
