/* ==UserStyle==
@name        www.notion.so
@match       https://www.notion.so/*
@match       https://*.www.notion.so/*
==/UserStyle== */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@media all {
  :root {
    --iy-serif-font: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times,
      "Noto Serif CJK SC", serif;
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Noto Sans",
      "LXGW WenKai", "Noto Sans CJK SC", sans-serif;
    --iy-code-font: "Cartograph CF", SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", "Noto Sans Mono CJK SC",
      "Noto Sans CJK SC", monospace, "Symbols Nerd Font Mono";
  }

  pre,
  pre code {
    font-family: var(--iy-code-font);
  }
}

.notion-page-content {
  font-family: var(--iy-atki-font);
  font-size: 17px;
}

.notion-frame h1 {
  font-family: var(--iy-serif-font);
  font-weight: 700;
}

.notion-code-block > div {
  font-family: var(--iy-code-font);
}
