/* ==UserStyle==
@name        x.com
@match       https://x.com/*
@match       https://*.x.com/*
==/UserStyle== */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");
@media all {
  :root {
    --iy-atki-font:
      "Atkinson Hyperlegible Next", Inter, system-ui, BlinkMacSystemFont, "Segoe UI",
      "Helvetica Neue", "LXGW WenKai", "Sarasa UI SC", "MiSans VF", sans-serif;
  }
}

[data-testid="sidebarColumn"],
[data-testid="SideNav_NewTweet_Button"],
[data-testid="SideNav_AccountSwitcher_Button"],
header nav div[dir]:not([aria-live]) {
  display: none;
}

header[role="banner"] {
  opacity: 0.2;
  transition: opacity 0.15s;
}

header[role="banner"]:is(:hover, :focus-within) {
  opacity: 1;
}

[data-testid="tweetText"] {
  font-family: var(--iy-atki-font);
  font-size: 1.3rem;
  line-height: 1.5;
}

[aria-label="1 unread items"] {
  display: none;
}
