/* ==UserStyle==
@name        twitter.com
@match       https://twitter.com/*
@match       https://*.twitter.com/*
@match       https://x.com/*
@match       https://*.x.com/*
==/UserStyle== */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@media all {
  :root {
    --iy-atki-font: "Atkinson Hyperlegible", Inter, system-ui,
      BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "LXGW WenKai",
      "Sarasa UI SC", "MiSans VF", sans-serif;
  }
}

[data-testid="sidebarColumn"],
[data-testid="SideNav_NewTweet_Button"],
nav[aria-label="Primary"] div[dir="auto"],
div[aria-label="Account menu"] {
  display: none;
}

header[role="banner"] {
  opacity: 0.2;
}

[data-testid="tweetText"] {
  font-family: var(--iy-atki-font);
  font-size: 1.3rem;
  line-height: 1.95rem;
}

[data-testid="tweetText"] a > span {
  font-size: 1.3rem;
}